@import "./base.css";

body {
  background-color: #e7e0ec;
}

.text-custom-primary {
  color: #6750a4;
}

.bg-custom-primary {
  background-color: #6750a4;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.btn-add {
  background-color: #6750a4;
  border: none;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: #6750a4;
  transition: 0.5s;
}
.btn-add:hover {
  background-color: #9875f9;
}
.nomargin {
  margin: 0 !important;
}
